.search-bar-container {
    position: absolute;
    top: 1.5vw;
    right: 8vw;
    background-color: #282828;
    border-radius: 2px;
}

.search-bar-container input {
    width: 20vw;
    margin: 0px;
    padding: 0.5vw;
    font-size: 1vw;
    border-radius: 2px;
}

@media screen and (max-width: 480px) {
    .search-bar-container {
        top: 6.5vw;
        right: 30vw;
    }

    .search-bar-container input {
        font-size: 3vw;
        padding: 1vw;
        width: 27vw;
    }
}