.search-bar-container {
    position: absolute;
    top: 5.2rem;
    right: 5rem;
    background-color: #282828;
    border-radius: 2px;
}

.search-bar-container input {
    width: 20rem;
    margin: 0px;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 2px;
}

@media screen and (max-width: 780px) {
    .search-bar-container {
        top: 1.3rem;
        right: 9rem;
    }

    .search-bar-container input  {
        width: 40vw;
    }
}

@media screen and (max-width: 590px) {

    .search-bar-container {
        top: 5.5rem;
        right: 9rem;
    }
}