.signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5vw 0;
}

.signup-container {
    width: 60%;
    text-align: center;
}

.form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2vw;
    justify-items: center;
    align-items: center;
    margin-top: 2vw;
}

.signup-container span {
    font-size: 2.5vw;
}

.signup button {
    padding: 1vw 3vw;
    font-size: 1vw; 
    background-color: #ebebeb;
    color: #545454; 
    border: none; 
}

.signup-container input {
    display: block;
    margin-top: 2vw;
    border: none;
    border-bottom: 1px solid black;
    font-size: 1.5vw;
    width: 100%;
}


.email-correspondence {
    display: inline-block;
    padding-left: 0.8vw;
    font-size: 0.8vw;
}

.signup-newsletter span {
    font-size: 0.8vw;
}

.signup-button-container {
    display: flex;
    justify-content: center;
    gap: 2vw;
    margin-top: 1vw;
}

.signup-button-container button:hover {
    background-color: #6e5b8b;
    color: white;
    cursor: pointer;
}