.signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    margin-bottom: 5rem;
}

.signup-container {
    width: 40%;
    text-align: center;
}

.form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2rem;
    justify-items: center;
    align-items: center;
    margin-top: 4rem;
}

.signup-container span {
    font-size: 2rem;
}

.signup button {
    padding: 1rem 3rem;
    font-size: 1rem; 
    background-color: #ebebeb;
    color: #545454; 
    border: none; 
}

.signup-container input {
    display: block;
    border: none;
    border-bottom: 1px solid black;
    font-size: 1.5rem;
    width: 100%;
}


.email-correspondence {
    display: inline-block;
    font-size: 0.8rem;
}

.email-correspondence input {
    margin-right: 0.5rem;
}

.signup-newsletter span {
    font-size: 0.8rem;
}

.signup-button-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 4rem;
}

.signup-button-container button:hover {
    background-color: #6e5b8b;
    color: white;
    cursor: pointer;
}

@media screen and (max-width: 1000px) {

    .signup-container {
        width: 70%;
    }
}


@media screen and (max-width: 780px) {
    .signup {
        margin-top: 15rem;
        margin-bottom: 7rem;
        padding: 0 5rem;
    }

    .signup button {
        padding: 1rem;
    }

    .signup-container {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .signup {
        padding: 0 2rem;
    }

    .form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .signup-button-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        gap: 2rem;
        margin-top: 4rem;
    }
}