.shop-container {
    width: 100%;
    display: grid;
    grid-template-columns: 4fr 1fr;
    justify-items: center;
    align-items: center;
    margin-top: 150px;
    margin-bottom: 100px;
}

.shop-cards-container {
    text-align: center;
}

.shop-cards-container span {
    font-size: 34px;
}

.shop-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(autofill, 1fr);
    justify-items: center;
    align-items: center;
    gap: 50px 30px;
    margin-top: 100px;
}

.shop-sort-container {
    align-self: flex-start;
}

.shop-sort-container {
    width: 80%;
}

.filter-by-price-container {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-right: 10px;
}

.filter {
    align-self: flex-start;
    font-size: 24px;
    padding-left: 5px;
}

.filter-by-price-container hr {
    width: 97%;
    height: 0.5px; 
    color: #C7C7C7;
    opacity: 0.25;
    margin-bottom: 0px;
    margin-left: 5px;
}

.price-slider {
    position: relative;
    bottom: 20px;
}

