.shop-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 5vw;
    gap: 5vw;
}

.shop-cards-container {
    text-align: center;
    width: 70vw;
}

.shop-cards-container span {
    font-size: 2vw;
}

.shop-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(autofill, 1fr);
    justify-items: center;
    align-items: center;
    margin-top: 3vw;
    gap: 3vw;
}

.shop-sort-container {
    width: 20vw;
    display: flex;
    flex-direction: column;
    gap: 3vw;
    
}

.filter-by-price-container {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.filter {
    align-self: flex-end;
    font-size: 1vw;
}

.filter-by-price-container hr {
    width: 100%;
    height: 0.5px; 
    color: #C7C7C7;
    opacity: 0.25;
    margin-bottom: 0px;
    margin-left: 5px;
}

@media screen and (max-width: 480px) {
    .shop-container {
        flex-direction: column;
        margin-top: 5vh;
        gap: 5vh;
    }

    .shop-cards-container {
        width: 90vw;
    }

    .shop-cards-container span {
        font-size: 5.5vw;
    }

    .shop-cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 5vh;
        gap: 10vw;
    }

    .shop-sort-container {
        display: flex;
        flex-direction: column;
        gap: 10vw;
        width: 90vw;
    }

    .filter-by-price-container hr {
        margin-bottom: 5vw;
    }

    .filter-by-price-container span {
        font-size: 5.5vw;
    }
}





