.card-container {
    width: 354px;
    height: 689px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 5px 5px grey;
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
    justify-items: center;
    align-items: center;
}


.card-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
}

.card-text {
    align-self: flex-start;
    text-align: center;
    margin-top: 40px;

}

.card-text span {
    font-size: 30px;
    color: #545454;
}

.card-text p {
    font-size: 20px;
    color: #545454;
    width: 247px;
    height: 242px;
}

.card-container button {
    width: 134px;
    font-size: 16px;
    color: #545454;
    background-color: #EBEBEB;
    border: none;
    padding-top: 18px;
    padding-bottom: 18px;
}

.card-container button:hover {
    cursor: pointer;
}