.card-container {
    width: 25vw;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 5px 5px grey;
    padding-bottom: 2vw;
}


.card-image img {
    width: 100%;
    object-fit: contain;
    border-radius: 15px 15px 0px 0px;
}

.card-text {
    text-align: center;
    padding: 2vw 4vw;
}

.card-text span {
    font-size: 1.5vw;
    color: #545454;
}

.card-text p {
    font-size: 1vw;
    color: #545454;
    height: 16vh;
}

.card-container button {
    font-size: 1vw;
    color: #545454;
    background-color: #EBEBEB;
    border: none;
    padding: 1vw 2vw;
    border-radius: 10px;
}

.card-container button:hover {
    background-color: #6e5b8b;
    color: white;
    cursor: pointer;
}