.card-container {
    width: 18rem;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 5px 5px grey;
    padding-bottom: 2rem;
}


.card-image img {
    width: 100%;
    object-fit: contain;
    border-radius: 15px 15px 0px 0px;
}

.card-text {
    text-align: center;
    padding: 2rem;
    height: 18rem;
}

.card-text span {
    font-size: 1.5rem;
    color: #545454;
}

.card-text p {
    font-size: 1rem;
    color: #545454;
    margin-top: 1rem;
}

.card-container button {
    font-size: 1rem;
    color: #545454;
    background-color: #EBEBEB;
    border: none;
    padding: 1rem 2rem;
    border-radius: 10px;
}

.card-container button:hover {
    background-color: #6e5b8b;
    color: white;
    cursor: pointer;
}

@media screen and (max-width: 1000px) {
    .card-container {
        width: 15rem;
    }

    .card-text {
        height: 25rem;
    }
}

@media screen and (max-width: 780px) {
    .card-container {
        width: 25rem;
    }

    .card-text {
        height: 15rem;
    }
}


@media screen and (max-width: 480px) {
    .card-container {
        width: 20rem;
        padding-bottom: 6vw;
    }
}