.knowledge-container {
    text-align: center;
    padding: 5vw 0;
}

.knowledge-container hr {
    width: 5vw;
    border: none;
}

.knowledge-title {
    font-size: 1.5vw;
    color: #545454;
}


.knowledge-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6vw;
}

.knowledge-content img {
    height: 30vw;
}

.knowledge-text {
    font-size: 1vw;
    color: #545454;
    text-align: left;
    width: 26vw;
}

@media screen and (max-width: 480px) {
    .knowledge-container {
        padding: 10vh 5vw;
    }

    .knowledge-title {
        font-size: 5.5vw;
    }

    .knowledge-content {
        flex-direction: column;
    }

    .knowledge-text {
        font-size: 4.5vw;
        width: 90%;
    }

    .knowledge-content img {
        height: 28vh;
    }
}