.knowledge-container {
    text-align: center;
    padding: 5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.knowledge-container hr {
    width: 5rem;
    border: none;
}

.knowledge-title {
    font-size: 1.5rem;
    color: #545454;
}


.knowledge-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.knowledge-content img {
    height: 20rem;
}

.knowledge-text {
    font-size: 1rem;
    color: #545454;
    text-align: left;
    width: 20rem;
}

.knowledge-paragraph {
    width: 54rem;
    text-align: left;
    margin-top: 3rem;
    color: #545454;
}

@media screen and (max-width: 1000px){
    .knowledge-content {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3rem;
    }
    
    .knowledge-content img {
        height: 18rem;
    }
    
    .knowledge-text {
        font-size: 1rem;
        color: #545454;
        text-align: left;
        width: 18rem;
    }
    
    .knowledge-paragraph {
        width: 46rem;
        text-align: left;
        margin-top: 3rem;
        color: #545454;
    }
}

@media screen and (max-width: 780px) {
    .knowledge-container {
        text-align: center;
        padding:0;
        margin: 5rem 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .knowledge-title-container {
        width: 25rem;
    }
    .knowledge-content {
        flex-direction: column;
        gap: 3rem;
    }

    .knowledge-content img {
        height: 18rem;
    }
    
    .knowledge-text {
        font-size: 1rem;
        color: #545454;
        text-align: left;
        width: 25rem;
    }
    
    .knowledge-paragraph {
        width: 25rem;
        text-align: left;
        margin-top: 2rem;
        color: #545454;
    }
}

@media screen and (max-width: 480px) {
    .knowledge-title-container {
        width: 20rem;
    }

    .knowledge-content img {
        height: 15rem;
    }
    
    .knowledge-text {
        font-size: 1rem;
        color: #545454;
        text-align: left;
        width: 20rem;
    }
    
    .knowledge-paragraph {
        width: 20rem;
        text-align: left;
        margin-top: 2rem;
        color: #545454;
    }
}