.knowledge-container {
    text-align: center;
    padding: 5vw 0;
}

.knowledge-container hr {
    width: 5vw;
    border: none;
}

.knowledge-title {
    font-size: 1.5vw;
    color: #545454;
}


.knowledge-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6vw;
}

.knowledge-content img {
    height: 30vw;
}

.knowledge-text {
    font-size: 1vw;
    color: #545454;
    text-align: left;
    width: 26vw;
}
