.signin {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    margin-bottom: 5rem;
}

.signin-container {
    width: 40%;
}

.signin-container span {
    font-size: 2rem;
    text-align: left;
}

.signin-container form {
    margin: 2rem 0;
}


.signin-container button {
    padding: 1rem 3rem;
    font-size: 1rem; 
    background-color: #ebebeb;
    color: #545454; 
    border: none; 
}

.signin-container p {
    font-size: 0.8rem;
}

.signin-form input {
    display: block;
    margin: 2rem 0;
    border: none;
    border-bottom: 1px solid black;
    font-size: 1rem;
    width: 100%;
}

.signin-button-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.google-button:hover {
    background-color: #4285F4;
    color: white;
    cursor: pointer;
}

.signin-button:hover, .signout-button:hover {
    background-color: #6e5b8b;
    color: white;
    cursor: pointer;
}

@media screen and (max-width: 1000px) {

    .signin-container {
        width: 70%;
    }
}


@media screen and (max-width: 780px) {
    .signin {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 15rem;
        margin-bottom: 7rem;
        padding: 0 5rem;
    }

    .signin-container button {
        padding: 1rem;
    }

    .signin-container {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .signin {
        padding: 0 2rem;
    }
}