.signin {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    margin-bottom: 77px;
}

.signin-container {
    width: 40%;
}

.signin-container span {
    font-size: 40px;
    text-align: left;
}

.signin-container form {
    margin-bottom: 35px;
}


.signin-container button {
    height: 50px;
    width: 240px;
    font-size: 16px; 
    background-color: #ebebeb;
    color: #545454; 
    border: none; 
}

.signin-form input {
    display: block;
    height: 30px;
    width: 40%;
    margin-top: 30px;
    border: none;
    border-bottom: 1px solid black;
    font-size: 20px;
    width: 100%;
}

.remember-me {
    display: inline-block;
    padding-left: 10px;
}

.signin-button-container {
    display: flex;
    justify-content: space-between;
}