.search-results-container {
    margin: 5vw 0;
    text-align: center;
}

.result-title {
    font-size: 2vw;
}

.search-results-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(autofill, 1fr);
    justify-items: center;
    align-items: center;
    margin-top: 3vw;
}

@media screen and (max-width: 480px) {
    .search-results-container {
        margin: 5vh 0;
    }

    .result-title {
        font-size: 5.5vw;
    }

    .search-results-cards {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        margin-top: 5vh;
        gap: 5vh;
    }
}