.search-results-container {
    margin-top: 10rem;
    margin-bottom: 5rem;
    text-align: center;
    padding: 0 5rem;
}

.result-title {
    font-size: 2rem;
}

.search-results-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(autofill, 1fr);
    justify-items: center;
    align-items: center;
    gap: 5rem;
    margin-top: 3rem;
}

@media screen and (max-width: 1000px) {
    .search-results-cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(autofill, 1fr);
        justify-items: center;
        align-items: center;
        gap: 5rem;
        margin-top: 3rem;
    }
}

@media screen and (max-width: 780px) {
    .search-results-container {
        margin-top: 13rem;
        margin-bottom: 5rem;
        text-align: center;
        padding: 0 3rem;
    }


    .search-results-cards {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        margin-top: 3rem;
        gap: 3rem;
    }
}