.scroll-container {
    z-index: 2;
    position: absolute;
    bottom: 4rem;
    right: 4rem;
}

.scroll-to-top {
    color: #c7c7c7;
    opacity: 0.5;
    height: 3rem;
    width: 3rem;
    position: fixed;
}

.scroll-to-top:hover {
    opacity: 1;
    cursor: pointer;
}
