.main-container {
    height: 30rem;
    background-image: url('https://images.unsplash.com/photo-1588597575483-f4e43e191c94?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8a25pZmV8ZW58MHx8MHx8&w=1000&q=80');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin-top: 5rem;
}

.main-title {
    color: #ffffff; 
    font-size: 3.5rem;
    text-align: center;
    padding: 0 3rem;
}

.main-caption {
    color: #ffffff;
    font-size: 1.5rem;
    padding: 0 3rem;
}

@media screen and (max-width: 768px) {
    .main-container {
        height: 25rem;
        margin-top: 8.5rem;
    }
    .main-title {
        font-size: 3rem;
    }
}

@media screen and (max-width: 480px) {
    .main-container {
        height: 20rem;
        text-align: center
    }

    .main-title {
        font-size: 2rem;
    }

    .main-caption {
        font-size: 1rem;
    }
}