.main-container {
    height: 100vh;
    background-image: url('https://images.unsplash.com/photo-1588597575483-f4e43e191c94?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8a25pZmV8ZW58MHx8MHx8&w=1000&q=80');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5vw;
}

.main-title {
    color: #ffffff; 
    font-size: 4vw;
}

.main-caption {
    color: #ffffff;
    font-size: 1.5vw;

}