.range_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 40px;
  column-gap: 10px;
}

.sliders_control {
  position: relative;
  min-height: 20px;
  margin-bottom: 2px;
}

.form_control {
  position: relative;
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  color: #635a5a;
  align-items: flex-start;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  pointer-events: all;
  width: 14px;
  height: 14px;
  background-color: #25daa5;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #25daa5;
  cursor: pointer;
}

input[type=range]::-moz-range-thumb {
  pointer-events: all;
  width: 14px;
  height: 14px;
  background-color: #25daa5;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #25daa5;
  cursor: pointer;  
}

input[type=range]::-webkit-slider-thumb:hover {
  background: #f7f7f7;
}

input[type=range]::-webkit-slider-thumb:active {
  box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
  -webkit-box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
}

input[type="number"] {
  width: 50px;
  height: 30px;
  font-size: 18px;
  border: 1px solid rgba(199, 199, 199, 0.7);
}

input[type="number"]:last-child {
  width: 70px;
}


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  
   opacity: 0;
}

input[type="range"] {
  -webkit-appearance: none; 
  appearance: none;
  height: 2px;
  width: 100%;
  position: absolute;
  background-color: #C6C6C6;
  pointer-events: none;
}

#fromSlider {
  height: 0;
  z-index: 1;
}

#toSlider {
  background-color: #25daa5;
}

.form_control input {
  width: 30px;
}