.payment-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.payment-form-container button {
    font-size: 1rem;
    width: 12rem;
    height: 3rem;
}

.payment-form-container form {
    height: 10rem;
    width: 30rem;
}

.payment-form-container h2 {
    font-size: 1rem;
}

.test-card-container {
    text-align: left;
    font-size: 1rem;
    margin-bottom: 5rem;
}

.test-card-container div {
    margin-bottom: 0.5rem;
}

.test-card-container span {
    font-weight: bold;
}


@media screen and (max-width: 780px) {
    .payment-form-container form{
        width: 300px;
    }
}