.payment-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.payment-form-container button {
    font-size: 1vw;
    width: 12vw;
    height: 3vw;
}

.payment-form-container form {
    height: 10vh;
    min-width: 30vw;
}

.payment-form-container h2 {
    font-size: 1vw;
}

.test-card-container {
    text-align: center;
    font-size: 1vw;
    margin-bottom: 5vh;
}

.test-card-container span {
    font-weight: bold;
}


@media screen and (max-width: 480px) {
    .payment-form-container button {
        font-size: 4vw;
        width: 24vw;
        height: 12vw;
    }
    
    .payment-form-container form {
        height: 10vh;
        min-width: 70vw;
    }
    
    .payment-form-container h2 {
        font-size: 5vw;
    } 

    .test-card-container {
        text-align: center;
        font-size: 5vw;
        padding: 0 8vw;
    }
}