.sign-in-dropdown-container {
    position: absolute;
    top: 5.2rem;
    right: 14px;
    background-color: #282828;
    padding: 1rem;
    box-shadow: inset 0 5px 5px 0 black;
    z-index: 2;
    text-align: center;
}

.sign-in-dropdown-container button {
    font-size: 1rem;
    padding: 1rem 3rem;
    color: white;
    background-color: black; 
    border: 1px solid white; 
}

.sign-in-dropdown-container button:hover {
    color: black; 
    background-color: white;
    cursor: pointer;
}