.navigation-container {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    justify-items: center;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: #282828;
    color: #FFFFFF;
}

.navigation-logo img {
    height: 60px;
    width: 180px;
    margin-left: 24px;
}

.up-caret {
    height: 15px;
    width: 15px;
    padding-left: 5px;
}

.navigation-links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    gap: 30px;
    font-size: 20px;
    list-style-type: none;
    
}

.navigation-links > li:hover span{
    text-decoration: underline;
    cursor: pointer;
}

.navigation-icons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    gap: 30px;
    font-size: 20px;
    margin-right: 24px;
}

.navigation-icons span:hover, .navigation-icons div:hover {
    cursor: pointer;
}


.shopping-cart:hover {
    cursor: pointer;
}