.newsletter {
    text-align: center;
    background-color: #D9D9D9;
    padding: 5vw 0;
}

.newsletter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7vw;
}

.newsletter-title {
    font-size: 1.5vw;
    color: #545454;
}

hr {
    width: 5vw;
    height: 1px;
    margin-top: 1.5vw;
    margin-bottom: 3vw;
    background-color: #7D7D7D;
    border: none;
}