.newsletter-card-container {
    width: 25vw;
    background-color: #ffffff;
    box-shadow: 0 5px 5px 1px grey;
    border-radius: 15px;
    padding-bottom: 2vw;
}

.newsletter-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vw;
}

.newsletter-card-text {
    text-align: center;
    padding: 2vw 4vw;
    height: 55vh;
    margin-bottom: 3vh;
}

.newsletter-card-text span {
    font-size: 1.5vw;
    color: #545454;
}

.newsletter-card-text p {
    font-size: 1vw;
    color: #545454;
    
}

.read-more {
    font-size: 1vw;
    color: #545454;
    background-color: #EBEBEB;
    border: none;
    padding: 1vw 2vw;
    border-radius: 10px;
}

.read-more:hover {
    background-color: #6e5b8b;
    color: white;
    cursor: pointer;
}

@media screen and (max-width: 480px) {
    .newsletter-card-container {
        width: 75vw;
        padding-bottom: 6vw;
    }

    .newsletter-title-container {
        height: 40vw;
    }

    .newsletter-card-text {
        padding: 6vw 8vw;
    }

    .newsletter-card-text span {
        font-size: 5.5vw;
    }

    .newsletter-card-text p {
        font-size: 4.5vw;
 
    }

    .read-more {
        font-size: 5vw;
        padding: 5vw 6vw;
        margin-top: 20vw;
    }
}