.published-container {
    text-align: center;
    margin: 5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.published-container hr {
    width: 5rem;
    border: none;
}

.published-title {
    font-size: 1.5rem;
    color: #545454;
}

.magazine-covers {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.mag-img {
    height: 25rem;
    width: 18rem;
}

.magazine-covers img {
    width: 100%;
    height: 100%;

}

@media screen and (max-width: 1000px) {
    .mag-img {
        height: 25rem;
        width: 15rem;
    }
}


@media screen and (max-width: 780px) {
    .magazine-covers {
        flex-direction: column;
    }

    .mag-img {
        width: 25rem;
        height: 35rem;
    }
}

@media screen and (max-width: 480px) {
    .mag-img {
        width: 20rem;
        height: 30rem;
    }

    
}