.published-container {
    text-align: center;
    padding: 5vw 0 10vw 0;
}

.published-container hr {
    width: 5vw;
    border: none;
}

.published-title {
    font-size: 1.5vw;
    color: #545454;
}

.magazine-covers {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}

.mag-img {
    height: 60vh;
    width: 30vw;
}

.magazine-covers img {
    width: 100%;
    height: 100%;

}