.about-container {
    text-align: center;
    padding: 5vw 10vw;
}

.about-container hr {
    width: 5vw;
    border: none;
}


.about-title {
    font-size: 1.5vw;
    color: #545454;
}

.about-text p {
    font-size: 1vw;
    text-align: left;
    color: #545454;
    margin: 4vh 0;
}