.about-container {
    text-align: center;
    padding: 5vw 10vw;
}

.about-container hr {
    width: 5vw;
    border: none;
}


.about-title {
    font-size: 1.5vw;
    color: #545454;
}

.about-text p {
    font-size: 1vw;
    text-align: left;
    color: #545454;
    margin: 4vh 0;
}

@media screen and (max-width: 480px) {
    .about-container {
        padding-bottom: 10vh;
    }

    .about-title {
        font-size: 5.5vw;
    }

    .about-text p {
        font-size: 4.5vw;
    }
}