.about-container {
    text-align: center;
    padding: 5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about-container hr {
    width: 5rem;
    border: none;
}


.about-title {
    font-size: 1.5rem;
    color: #545454;
}

.about-text {
    width: 56rem;
    text-align: center;
}

.about-text p {
    font-size: 1rem;
    text-align: left;
    color: #545454;
    margin: 3rem 0;
}

@media screen and (max-width: 1000px) {
    .about-text {
        width: 45rem;
    }
}
@media screen and (max-width: 780px) {
    .about-text {
        width: 25rem;
    }
}

@media screen and (max-width: 480px) {
    .about-container {
        padding-bottom: 10vh;
    }

    .about-text {
        width: 20rem;
    }
}