* {
    box-sizing: border-box;
}

.ind-product-container {
    margin-top: 10rem;
    margin-bottom: 5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 1rem;
}

.ind-product-img {
    display: flex; 
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 60vw;
}

.main-product-img {
    width: 80%;
    height: 35rem;
    border-radius: 5px;
}

.mini-img-container {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.mini-img-container div {
    width: 100%;
    height: 8rem;
    border-radius: 5px;
}

.mini-img-container img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.mini-img-container img:hover {
    cursor: pointer;
    filter: contrast(50%);
}


.ind-product-info {
    text-align: left;
    height: 35rem;
    width: 30vw;
    overflow-y: scroll;
}

.ind-product-info p {
    font-size: 1rem;
    margin: 1rem 0;
}

.ind-product-info button {
    padding: 1rem 3rem;
    font-size: 1rem;
    border: none;
    margin-bottom: 2rem;
}

.ind-product-info button:hover {
    background-color: #6e5b8b;
    color: white;
    cursor: pointer;
}

.product-name {
    font-size: 1.5rem;
}


.product-details {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(autofill, 1f); 
    
}

.product-details span {
    display: inline-block;
    border: 2px solid white;
    padding: 1rem;
    font-size: 0.8rem;
}

.first {
    background-color: rgba(102, 102, 153, 0.5);
}

.second {
    background-color: rgba(102, 102, 153, 0.3)
}

@media screen and (max-width: 1024px) {
    .ind-product-container {
        flex-direction: column;
        gap: 3rem;
        padding: 0 3rem;
    }

    .ind-product-img {
        display: flex; 
        flex-direction: column-reverse;
        gap: 1rem;
        width: 100%;
    }

    .mini-img-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .main-product-img {
        width: 100%;
        height: 50rem;
        border-radius: 5px;
    }

    .mini-img-container div {
        width: 100%;
        height: 10rem;
    }
    
    .mini-img-container img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 5px;
    }

    .ind-product-info {
        text-align: left;
        height: 36rem;
        width: 100%;
        overflow-y: scroll;
    }
}

@media screen and (max-width: 780px) {
    .ind-product-container {
        margin-top: 13rem;
        margin-bottom: 5rem;
    }

    .main-product-img {
        width: 100%;
        height: 35rem;
        border-radius: 5px;
    }

    .mini-img-container div {
        width: 100%;
        height: 8rem;
    }
}

@media screen and (max-width: 480px) {
    .main-product-img {
        width: 100%;
        height: 20rem;
        border-radius: 5px;
    }

    .mini-img-container div {
        width: 100%;
        height: 5rem;
    }
}



