.ind-product-container {
    margin: 5vw 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vw;
}

.ind-product-img {
    display: flex; 
    column-gap: 1vw;
}

.main-product-img {
    width: 50vw;
    height: 43vw;
    border-radius: 5px;
}

.mini-img-container {
    display: flex;
    flex-direction: column;
    row-gap: 1vw;
}

.mini-img-container img {
    width: 10vw;
    height: 10vw;
    border-radius: 5px;
}

.mini-img-container img:hover {
    cursor: pointer;
    filter: contrast(50%);
}


.ind-product-info {
    text-align: left;
    height: 43vw;
    padding-right: 1vw;
    width: 30vw;
    overflow-y: scroll;
}

.ind-product-info p {
    font-size: 0.8vw;
}

.ind-product-info button {
    padding: 1vw 2vw;
    font-size: 1vw;
    border: none;
    margin-bottom: 4vw;
}

.ind-product-info button:hover {
    background-color: #6e5b8b;
    color: white;
    cursor: pointer;
}

.product-name {
    font-size: 2vw;
}


.product-details {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(autofill, 1f); 
    
}

.product-details span {
    display: inline-block;
    border: 2px solid white;
    padding: 1vw;
    font-size: 0.8vw;
}

.first {
    background-color: rgba(102, 102, 153, 0.5);
}

.second {
    background-color: rgba(102, 102, 153, 0.3)
}

