.preview {
    text-align: center;
    padding: 5vw 0;
}

.preview hr {
    width: 5vw;
    border: none;
}

.preview-title span {
    font-size: 1.5vw;
    color: #545454;
}

.preview-title span:hover {
    cursor: pointer;
}

.preview-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7vw;
}