.newsletter-signup {
    display: grid;
    grid-template-rows: 1fr 3fr 1fr 1fr;
    justify-items: left;
    align-items: flex-start;
    width: 45vw;
}

.newsletter-signup span {
    align-self: center;
    font-size: 1.8vw;
    margin-bottom: 0px;
}

.newsletter-signup-form {
    width: 100%;
    margin-bottom: 2vw;
}


.newsletter-signup-form input {
    display: block;
    width: 100%;
    margin-top: 2vw;
    font-size: 1vw;
    border: none;
    border-bottom: 1px solid white;
    background-color: #282828;
    color: white;
}

.newsletter-signup button {
    width: 100%;
    font-size: 1vw;
    background-color: #282828;
    color: white; 
    border: 2px solid white; 
    margin-top: 0.5vw;
    padding: 1vw 0;
}

.newsletter-signup button:hover {
    background-color: white;
    color: #282828;
    cursor: pointer;
}

.brand-icons {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: left;
    align-items: center;
    padding-top: 1vw;
    gap: 1vw;
}

.facebook, .instagram, .youtube {
    height: 2.5vw;
    width: 2.5vw;
}

.facebook:hover, .instagram:hover, .youtube:hover {
    cursor: pointer;
}


@media screen and (max-width: 480px) {
    .newsletter-signup {
        width: 90vw;
    }

    .newsletter-signup span {
        font-size: 5.5vw;
    }

    .newsletter-signup-form input {
        font-size: 4.5vw;
        margin-top: 4vw;
        width: 90vw;
    }

    .newsletter-signup button {
        font-size: 4.5vw;
        padding: 3vw 0;
    }

    .brand-icons {
        padding-top: 4vw;
        gap: 3vw;
    }

    .facebook, .instagram, .youtube {
        height: 10vw;
        width: 10vw;
    }
    
}
