.newsletter-signup {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
    width: 40%;
    text-align: left;
}

.newsletter-signup span {
    font-size: 1.5rem;
    margin-bottom: 0px;
}

.newsletter-signup-form {
    width: 100%;
    margin-bottom: 2vw;
}


.newsletter-signup-form input {
    display: block;
    width: 100%;
    margin-top: 2rem;
    font-size: 1rem;
    border: none;
    border-bottom: 1px solid white;
    background-color: #282828;
    color: white;
}

.newsletter-signup button {
    width: 100%;
    font-size: 1rem;
    background-color: #282828;
    color: white; 
    border: 2px solid white; 
    margin-top: 0.5vw;
    padding: 1rem 0;
}

.newsletter-signup button:hover {
    background-color: white;
    color: #282828;
    cursor: pointer;
}

.brand-icons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.facebook, .instagram, .youtube {
    height: 2.5rem;
    width: 2.5rem;
}

.facebook:hover, .instagram:hover, .youtube:hover {
    cursor: pointer;
}


@media screen and (max-width: 780px) {
    .newsletter-signup {
        width: 100%;
    }
    
}
