.contact-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 8rem;
    margin-bottom: 3rem;

}

.contact-input {
    width: 40%;
}

.contact-input span {
    font-size: 2rem;
    text-align: left;
}

.contact-input button {
    font-size: 1rem;
    padding: 1rem 3rem;
    background-color: #ebebeb;
    color: #545454; 
    border: none; 
}

.contact-form {
    margin: 1rem 0;
}

.contact-form input {
    display: block;
    font-size: 1rem;
    width: 100%;
    margin: 2rem 0;
    border: none;
    border-bottom: 1px solid black;
}


.contact-info {
    display: flex;
    flex-direction: column; 
    text-align: center;
    gap: 1rem;
}

.map-container {
    width: 40%;
    display: flex;
    flex-direction: column; 
    text-align: center;
    gap: 3vw;
}

.contact-info p {
    display: inline-block;
    font-size: 1rem;
    margin: 0;
}

.contact-icon {
    width: 1rem;
    height: 1rem;
    color: rgba(99, 83, 116, 0.8);
    margin-right: 1vw;
}


@media screen and (max-width: 780px) {
    .contact-container {
        display: flex;
        flex-direction: column;
        margin-top: 15rem;
        margin-bottom: 5rem;
        gap: 5rem;
        padding: 0 5rem;
    }

    .contact-input, .map-container {
        width: 100%;
    }

    .map-container {
        gap: 3rem;
    }
}

@media screen and (max-width: 480px) {
    .contact-container {
        padding: 0 2rem;
    }
}

.address  {
    width: 70vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.address .contact-icon {
    margin-top: 2.5vw;
}