.mobile-shop-container {
    position: absolute;
    width: 40vw;
    padding: 5vw 3vw;
    right: 46vw;
    background-color: black;
    color: white;
}

.mobile-shop {
    display: flex;
    flex-direction: column;
    gap: 5vw;
    font-size: 4vw;
}