.customer-service {
    width: 30%;
}

.customer-service span {
    font-size: 1.5rem;
}

.customer-links {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1rem;
}

.customer-links p {
    margin-top: 1rem;
}

.customer-links p:hover {
    text-decoration: underline;
    cursor: pointer;
}

.hours {
    margin-top: 2rem;
}

.hours p {
    font-size: 1rem;
}

.customer-link:active, .customer-link:link, .customer-link:visited {
    color: white;
    text-decoration: none;
}

@media screen and (max-width: 780px) {
    .customer-service {
        width: 100%;
    }
}