.customer-service {
    align-self: flex-start;
}

.customer-service span {
    font-size: 2vw;
}

.customer-links {
    margin-top: 2vw;
    margin-bottom: 4vw;
    font-size: 0.8vw;
}

.customer-links p:hover {
    text-decoration: underline;
    cursor: pointer;
}

.hours {
    margin-top: 2vw;
}

.hours p {
    font-size: 0.8vw;
}

.customer-link:active, .customer-link:link, .customer-link:visited {
    color: white;
    text-decoration: none;
}

@media screen and (max-width: 480px) {
    .customer-service span {
        font-size: 5.5vw;
    }

    .customer-links {
        margin-top: 5vw;
        margin-bottom: 10vh;
        font-size: 4vw;
    }

    .hours {
        margin-top: 5vw;
    }
    
    .hours p {
        font-size: 4vw;
    }
}