.footer-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5vw;
    padding: 5vw;
    background-color: #282828;
    color: #ffffff;
}

@media screen and (max-width: 480px) {
    .footer-container {
        flex-direction: column;
        padding: 5vh 5vw;
        gap: 10vh;
    }
}