.footer-container {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 5rem 3rem;
    background-color: #282828;
    color: #ffffff;
}

@media screen and (max-width: 780px) {
    .footer-container {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 5rem;
    }
}