.shop-footer-container span{
    font-size: 1.5rem;
}

.shop-footer-container {
    width: 10%;
}

.shop-links {
    margin-top: 2rem;
    font-size: 1rem;
}


.shop-links p{
    margin-top: 1rem;
}

.shop-links p:hover {
    text-decoration: underline;
    cursor: pointer;
}

.shop-link:active, .shop-link:link, .shop-link:visited {
    color: white;
    text-decoration: none;
}

@media screen and (max-width: 780px) {
    .shop-footer-container {
        width: 100%;
    }
}