.experience-container {
    text-align: center;
    padding: 5vw 0;
}

.experience-container hr {
    width: 5vw;
    border: none;
}

.experience-title {
    font-size: 1.5vw;
    color: #545454;
}

.experience-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6vw;
}

.experience-content img {
    height: 30vw;
}

.experience-content p {
    font-size: 1vw;
    color: #545454;
    text-align: left;
    width: 26vw;
}
