.shop-card-container {
    box-shadow: 0 5px 5px grey;
    width: 20vw;
    padding-bottom: 2vw;
}

.shop-card-image img {
    width: 100%;
    object-fit: cover;
}

.shop-card-description {
    text-align: center;
    align-self: flex-start;
    height: 16vh;
}

.shop-card-description span {
    text-align: center;
    font-size: 1vw;
    color: #545454;
}

.shop-card-title {
    padding: 0 1vw;
    margin-top: 1vw;
}

.shop-card-description p {
    font-size: 0.8vw;
    color: #969696;
}


.shop-card-container button {
    font-size: 1vw;
    color: #545454;
    background-color: #EBEBEB;
    border: none;
    padding: 1vw 2vw;
}

.shop-card-container button:hover {
    background-color: #6e5b8b;
    color: white;
    cursor: pointer;
}

@media screen and (max-width: 480px) {
    .shop-card-container {
        width: 75vw;
        padding-bottom: 6vw;
    }

    .shop-card-description {
        padding: 6vw 8vw;
        height: 30vh;
    }

    .shop-card-description span {
        font-size: 5.5vw;
    }

    .shop-card-description p {
        font-size: 4vw;
 
    }

    .shop-card-container button {
        font-size: 5vw;
        padding: 5vw 6vw;
    }
}