.shop-card-container {
    box-shadow: 0 5px 5px grey;
    width: 100%;
    padding-bottom: 2rem;
}

.shop-card-image img {
    width: 100%;
    object-fit: cover;
}

.shop-card-description {
    text-align: center;
    align-self: flex-start;
    height: 10rem;
}

.shop-card-description span {
    text-align: center;
    font-size: 1vw;
    color: #545454;
}

.shop-card-title {
    padding: 1rem;
    margin-top: 1vw;
}

.shop-card-title span {
    font-size: 1rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    text-overflow: ellipsis;
}

.shop-card-description p {
    font-size: 1rem;
    color: #969696;
    margin-top: 1rem;
}


.shop-card-container button {
    font-size: 1rem;
    color: #545454;
    background-color: #EBEBEB;
    border: none;
    padding: 1rem 2rem;
}

.shop-card-container button:hover {
    background-color: #6e5b8b;
    color: white;
    cursor: pointer;
}

@media screen and (max-width: 1000px) {

}

@media screen and (max-width: 780px) {
    .shop-card-container {
        width: 25rem;
        padding-bottom: 6vw;
    }
}

@media screen and (max-width: 480px) {
    .shop-card-container {
        width: 20rem;
        padding-bottom: 6vw;
    }
}