.appraisal-container {
    text-align: center;
    margin: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    padding: 0 5rem;
}

.appraisal-container span {
    font-size: 2rem;
    padding-bottom: 2vw;
} 

.appraisal-text {
    text-align: left;
    font-size: 1rem;
}

.appraisal-text p {
    margin: 2rem 0;
}

.appraisal-text p:last-child {
    font-weight: bold;
}

@media screen and (max-width: 750px) {
    .appraisal-container {
        margin-top: 15rem;
    }
}

@media screen and (max-width: 750px) {
    .appraisal-container {
        padding: 0 3rem;
    }
}