.mobile-side-bar-container {
    position: fixed;
    width: 15rem;
    padding: 2rem;
    right: 0;
    top: 8.8rem;
    background-color: black;
    color: white;
}

.mobile-side-bar {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    font-size: 1.5rem;
}

.mobile-caret {
    padding-left: 3px;
}

@media screen and (max-width: 480px) {
    .mobile-side-bar-container {
        width: 10rem;
    }
}