.mobile-side-bar-container {
    position: absolute;
    width: 40vw;
    padding: 5vw 3vw;
    right: 0;
    background-color: black;
    color: white;
}

.mobile-side-bar {
    display: flex;
    flex-direction: column;
    gap: 5vw;
    font-size: 4vw;
}

.mobile-caret {
    padding-left: 1vw;
}